@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800&display=swap");

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Red Hat Display", sans-serif;

  max-width: 1024px;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}
